
   * {
   margin: 0;
   padding: 0;
}
html {
   background-color: yellow;
}
main{
	padding: 2px;
}
body {
   font-family: Arial, Helvetica, sans-serif;
font-size: 100%;
width: 650px;
margin: 0 auto;
border: 8px double blue;
background-color: white;
}
h1 {
   font-size: 150%;
   color: blue;
   margin: 0;
   padding-bottom: .5em;
}
h2 {
   font-size: 125%;
   padding-top: .5em;
   padding-bottom: .25em;
}
h3 {
   padding-top: 0;
   padding-bottom: .25em;
}
img {
   float: left;
   margin: 1% 0 1% 0;
}

blockquote {
   padding-bottom: .30em;
}
.writer {

    text-align: right;
    color: blue;
    padding-bottom: .75em;
	
}
ul {
   margin-left: 1.25em;
}


.footer {
	
        width: 95%;
        border-top: 2px solid blue;
		top:0px;
	    bottom: 0;
	    left: 0;
	    right: 0;
		margin: auto;
		 padding-top: 15px;
		text-align:center
		 
          
	}